<!--
  <div class="container h-100">
    <div class="card">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <label class="col-sm-3 col-form-label">Usuario</label>
        <div class="col-sm-9">
          <input type="text">
        </div>

      </div>
    </div>
  </div> -->

  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-9">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block">
              <img src="https://estaticos.muyinteresante.es/uploads/images/article/570b65e55bafe88a438b456a/perro_0.jpg"
                alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
            </div>
            <div class="col-md-6 col-lg-6 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">

                <form>

                  <div class="d-flex align-items-center mb-3 pb-1">
                    <span class="h1 fw-bold mb-0">Iniciar sesión</span>
                  </div>

                  <h5 class="fw-normal mb-3 pb-3">Ingresá para operar en la plataforma</h5>

                  <div class="form-outline mb-4">
                    <input type="text" id="form2Example17" class="form-control form-control-lg" />
                    <label class="form-label" for="form2Example17">Usuario</label>
                  </div>

                  <div class="form-outline mb-4">
                    <input type="password" id="form2Example27" class="form-control form-control-lg" />
                    <label class="form-label" for="form2Example27">Contraseña</label>
                  </div>

                  <div class="pt-1 row">
                    <button class="btn btn-dark btn-lg btn-block" type="button">Login</button>
                  </div>

                  <p class="mt-3 pb-lg-2" style="color: #393f81;">No tienes cuenta?
                    <a routerLink="/registro">Registrate acá</a></p>
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
